server:
  port: 770
  servlet:
    context-path: /api

spring:
  profiles:
    default: local

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true
        type: debug
        default_batch_fetch_size: 100

